  <div class="input-group border" style="padding: 0; margin: 0">
    <!--<div class="input-group-btn" style="width: 16px; height: 25px; text-align: center; padding-top: 5px;">-->
      <button class="btn btn-link"
              type="submit"
              id="buscar"
              (click)="mostrarBusqueda()"
              style="width: 33px; padding: 0; margin: 0;"
      >
        <img class="imagen " src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="height: 32px; width: 33px; ">
      </button>
    <!--</div>-->
<!--<input type="text" class="form-control" placeholder="Search" name="q">-->
    <input type="text"
      class="form-control"
      style=" font-size: 14px; border: 0"
      placeholder="Busque por Actor o Pelicula"
      name="dato"
      [(ngModel)] = "nombreActor">
      <!--(ngModelChange)="mostrarBusqueda($event.target.value)"-->
    <!--&gt;-->
  </div>
<!--</form>-->





<!--<div class="input-group" style="width: 100%">-->
  <!--&lt;!&ndash;<span class="border border-info">&ndash;&gt;-->
    <!--<button type="submit" class="btn-link"-->
            <!--id="buscar"-->
            <!--(click)="mostrarBusqueda()">-->
        <!--&lt;!&ndash;<i class="icon-search border border-info" style="height: 25px; width: 25px; "></i>&ndash;&gt;-->
        <!--<img class="border " src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="height: 33px; width: 33px; ">-->
    <!--</button>-->
  <!--&lt;!&ndash;</span>&ndash;&gt;-->
  <!--<input type="text"-->
         <!--class="form-control"-->
         <!--style="width: 50%; height: 30px; font-size: 14px;"-->
         <!--placeholder="Busque por Actor o Pelicula"-->
         <!--name="dato"-->
         <!--[(ngModel)] = "nombreActor"-->
         <!--(ngModelChange)="mostrarBusqueda($event.target.value)"-->
  <!--&gt;-->

<!--</div>-->
