<div class="input-group border" style="padding: 0; margin: 0">
    <button class="btn btn-link"
            type="submit"
            id="buscar"
            (click)="mostrarBusqueda()"
            style="width: 33px; padding: 0; margin: 0;"
    >
      <img class="imagen " src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="height: 32px; width: 33px; ">
    </button>

  <input type="text"
    class="form-control"
    style=" font-size: 14px; border: 0"
    placeholder="Busque por Actor o Pelicula"
    name="dato"
    [(ngModel)] = "nombre">
</div>
