<!--<app-actor-resumen></app-actor-resumen>-->
<!--<app-pelicula-resumen></app-pelicula-resumen>-->

<!--<app-actor-detalle></app-actor-detalle>-->
<!--<app-pelicula-detalle></app-pelicula-detalle>-->
<!--<app-pelicula-no-disponible></app-pelicula-no-disponible>-->
<!--<app-tienda-factura></app-tienda-factura>-->
<!--<app-tienda-carrito></app-tienda-carrito>-->
<!--<app-perfil-usuario></app-perfil-usuario>-->
<!--<app-tienda-buscador></app-tienda-buscador>-->


<div class="row">
  <div class="col-sm-9">
  </div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-2">
        <app-tienda-carrito></app-tienda-carrito>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-9">
        <app-perfil-usuario></app-perfil-usuario>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <app-tienda-buscador></app-tienda-buscador>
  </div>

  <div class="col-sm-2">
  </div>

</div>

<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-4" style= "text-align: center;" *ngFor="let info of mensaje; let indice = index">
        <app-actor-resumen [actor]="info" ></app-actor-resumen>
        <!--<div>{{info.nombre}}</div>-->
    </div>
  </div>
  <!--<div class="col-sm-8">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-4" style= "text-align: center;">-->
        <!--<app-actor-resumen></app-actor-resumen>-->
      <!--</div>-->
      <!--<div class="col-sm-4" style="text-align: center;">-->
        <!--<app-actor-resumen></app-actor-resumen>-->
      <!--</div>-->
      <!--<div class="col-sm-4" style="text-align: center;">-->
        <!--<app-actor-resumen></app-actor-resumen>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="col-sm-2">
  </div>
</div>
</div>

<div class="row">
  <br>
  <br>
</div>

<!--<div class="row">-->
  <!--<div class="col-sm-2">-->
  <!--</div>-->
  <!--<div class="col-sm-8">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-4" style= "text-align: center;">-->
        <!--<app-actor-resumen></app-actor-resumen>-->
      <!--</div>-->
      <!--<div class="col-sm-4" style="text-align: center;">-->
        <!--<app-actor-resumen></app-actor-resumen>-->
      <!--</div>-->
      <!--<div class="col-sm-4" style="text-align: center;">-->
        <!--<app-actor-resumen></app-actor-resumen>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-sm-2">-->
  <!--</div>-->
<!--</div>-->

<div class="row" style="text-align: center">
  <div class="col-sm-12" >
    <br><br>
    <button type="button" class="btn btn-light">Cargar más</button>
    <br><br><br>
  </div>
</div>


<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3" style= "text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row">
  <br>
  <br>
</div>

<div class="row">

  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3" style= "text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row" style="text-align: center">
  <div class="col-sm-12" >
    <br><br>
    <button type="button" class="btn btn-light">Cargar más</button>
    <br><br><br>
  </div>
</div>

<div class="row">
  <br>
  <br>
</div>


<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <app-actor-detalle></app-actor-detalle>
  </div>

  <div class="col-sm-2">
  </div>

</div>

<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3" style= "text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row">
  <br>
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3" style= "text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row" style="text-align: center">
  <div class="col-sm-12" >
    <br><br>
    <button type="button" class="btn btn-light">Cargar más</button>
    <br><br><br>
  </div>
</div>

<div class="row">
  <br>
  <br>
</div>


<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <app-pelicula-detalle></app-pelicula-detalle>
    <div class="col-sm-12" >
      <br>
      <button type="button" class="btn btn-light">Añadir al carrito</button>
      <br><br>
    </div>
  </div>

  <div class="col-sm-2">
  </div>

</div>

<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <app-pelicula-no-disponible></app-pelicula-no-disponible>
  </div>

  <div class="col-sm-2">
  </div>

</div>


<div class="row">
  <br>
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <app-tienda-factura></app-tienda-factura>
    <br>
    <!--<span class="border border-dark">-->
      <div class="row border">
        <div class="col-sm-10"style="text-align: left;">
          <app-pelicula-detalle></app-pelicula-detalle>
        </div>
        <div class="col-sm-2" style="padding-top: 40px; text-align: center" >
            <br>
            <button type="button" class="btn btn-light">Eliminar</button>
            <br><br>
        </div>
      </div>
    <!--</span>-->
  </div>

  <div class="col-sm-2">
  </div>

</div>

<div class="row">
  <br>
  <br>
</div>


