<div class="card" style="width: 18rem;">
  <div class="card-body">

    <div class="detalleActor" >
    <h5 class="card-title">{{actor.nombre}}</h5>

    <div class="row"  style="margin-left: 20px">
      <div class="col-sm-6" style=" margin-top: 20px; width: 100%">
        <h5 class="card-title">{{actor.apellido}}</h5>
      </div>
      <div class="col-sm-6" style=" margin-top: 20px; width: 100%">
        <img class="d-block w-100" src="https://martamoralescastillo.files.wordpress.com/2015/01/consejos-para-escoger-tu-foto-de-perfil-en-linkedin-redes-sociales-marca-personal-branding-marta-morales-blog-curiosidades-social-media.png?w=350&h=200&crop=1" alt="First slide">
      </div>
    </div>
  </div>
</div>


