<div class="actor-detalle">
  <div class="row">
    <div class="col-sm-8" style=" margin-top: 20px; width: 100%">
      <div class="row">
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <h5 style="font-weight: bold;">Nombres:</h5>
          {{usuario.nombre}}
        </div>
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <h5 style="font-weight: bold;">Apellidos:</h5>
          {{usuario.apellido}}
        </div>
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <h5 style="font-weight: bold;">Apellidos:</h5>
          {{usuario.correo}}
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-top: 40px; text-align: center;">
      <button type="button" class="btn btn-success">Completar la orden</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8" style=" margin-top: 20px; width: 100%">
      <div class="row">
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <h5 style="font-weight: bold;">Nombres:</h5>
          {{datosFactura.nombre}}
        </div>
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <h5 style="font-weight: bold;">Apellidos:</h5>
          {{datosFactura.apellido}}
        </div>
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <h5 style="font-weight: bold;">Apellidos:</h5>
          {{datosFactura.correo}}
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-top: 40px; text-align: center; align-content: center">
      <app-datos-factura></app-datos-factura>
    </div>
  </div>
</div>
