<div class="actor-detalle">
  <div class="row">
    <div class="col-sm-6" style=" margin-top: 20px; width: 100%">
      <div class="row">
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <!--<h5 class="nombre-actor">{{actor[0].nombre}}</h5>-->
          <h5 style="font-weight: bold;">Nombres:</h5>
          {{usuario[0].nombre}}
        </div>
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <!--<h5 class="nombre-actor">{{actor[0].apellido}}</h5>-->
          <h5 style="font-weight: bold;">Apellidos:</h5>
          {{usuario[0].apellido}}
        </div>
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <!--<h5 class="nombre-actor">{{actor[0].apellido}}</h5>-->
          <h5 style="font-weight: bold;">Apellidos:</h5>
          {{usuario[0].correo}}
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="align-content: center; text-align: center;">
      <button type="button" class="btn btn-success">Completar la orden</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style=" margin-top: 20px; width: 100%">
      <div class="row">
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <!--<h5 class="nombre-actor">{{actor[0].nombre}}</h5>-->
          <h5 style="font-weight: bold;">Nombres:</h5>
          {{usuario[0].nombre}}
        </div>
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <!--<h5 class="nombre-actor">{{actor[0].apellido}}</h5>-->
          <h5 style="font-weight: bold;">Apellidos:</h5>
          {{usuario[0].apellido}}
        </div>
        <div class="col-sm-4" style=" margin-top: 20px; width: 100%">
          <!--<h5 class="nombre-actor">{{actor[0].apellido}}</h5>-->
          <h5 style="font-weight: bold;">Apellidos:</h5>
          {{usuario[0].correo}}
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="text-align: center; align-content: center">
      <button type="button" class="btn btn-warning">Editar Datos de Facturación</button>
    </div>
  </div>
</div>
