<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <app-tienda-buscador></app-tienda-buscador>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-4" style= "text-align: center;" *ngFor="let info of mensaje; let indice = index">
        <app-actor-resumen [actor]="info" *ngIf="indice<numActores"></app-actor-resumen>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row" style="text-align: center">
  <div class="col-sm-12" >
    <br>
    <button type="button" class="btn btn-light" *ngIf="contadorActores>numActores" (click)="aumentarNumActores()">Cargar más</button>
    <br><br>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3" style="text-align: center;" *ngFor="let info of mensajePeli; let indice = index">
        <app-pelicula-resumen [pelicula]="info" *ngIf="indice<numPeliculas"></app-pelicula-resumen>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row" style="text-align: center">
  <div class="col-sm-12" >
    <br><br>
    <button type="button" class="btn btn-light" *ngIf="contadorPeliculas>numPeliculas" (click)="aumentarNumPelis()">Cargar más</button>
    <br><br><br>
  </div>
</div>

<router-outlet></router-outlet>
