
<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <app-tienda-buscador></app-tienda-buscador>
  </div>

  <div class="col-sm-2">
  </div>

</div>

<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-4" style= "text-align: center;" *ngFor="let info of mensaje; let indice = index">
        <app-actor-resumen [actor]="info" ></app-actor-resumen>
        {{registrarPeliculas(info.peliculas)}}
        <!--{{imprimirObjeto(info.peliculas)}}-->
        <!--<div>{{info.nombre}}</div>-->
      </div>

      <!--{{imprimirPeli()}}-->
    </div>
  </div>
  <!--<div class="col-sm-8">-->
  <!--<div class="row">-->
  <!--<div class="col-sm-4" style= "text-align: center;">-->
  <!--<app-actor-resumen></app-actor-resumen>-->
  <!--</div>-->
  <!--<div class="col-sm-4" style="text-align: center;">-->
  <!--<app-actor-resumen></app-actor-resumen>-->
  <!--</div>-->
  <!--<div class="col-sm-4" style="text-align: center;">-->
  <!--<app-actor-resumen></app-actor-resumen>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <div class="col-sm-2">
  </div>
</div>


<div class="row">
  <br>
  <br>
</div>

<!--<div class="row">-->
<!--<div class="col-sm-2">-->
<!--</div>-->
<!--<div class="col-sm-8">-->
<!--<div class="row">-->
<!--<div class="col-sm-4" style= "text-align: center;">-->
<!--<app-actor-resumen></app-actor-resumen>-->
<!--</div>-->
<!--<div class="col-sm-4" style="text-align: center;">-->
<!--<app-actor-resumen></app-actor-resumen>-->
<!--</div>-->
<!--<div class="col-sm-4" style="text-align: center;">-->
<!--<app-actor-resumen></app-actor-resumen>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-2">-->
<!--</div>-->
<!--</div>-->

<div class="row" style="text-align: center">
  <div class="col-sm-12" >
    <br><br>
    <button type="button" class="btn btn-light">Cargar más</button>
    <br><br><br>
  </div>
</div>


<div class="row">

  <div class="col-sm-2">
  </div>

  <div class="col-sm-8" >
    <div class="row" >
      <!--<div>{{info.pelicula}}</div>-->
      <!--{{ info.peliculas.length}}-->
      <!--<div class="segundo-bucle"  ">-->
      <!--<div class="col-sm-3" style= "text-align: center;" *ngFor="let infop of mensaje.peliculas;">-->
      <!--<app-pelicula-resumen  *ngIf="contador < 4" [peli]="infop"></app-pelicula-resumen>-->
      <!--</div>-->
      <!--{{aumentarCont()}}-->
      <!--{{contador}}-->
      <!--</div>-->
      <!--</span>-->
      <!--<div>{{info.nombre}}</div>-->
      <div class="col-sm-3" style= "text-align: center;" *ngFor="let infop of mensaje[0].pelicula;">
        <!--{{infop}}-->
        <app-pelicula-resumen  *ngIf="contador < 4" [pelicula]="infop"></app-pelicula-resumen>
      </div>
    </div>
  </div>


  <!--<div class="col-sm-8">-->
  <!--<div class="row">-->
  <!--<div class="col-sm-3" style= "text-align: center;">-->
  <!--<app-pelicula-resumen></app-pelicula-resumen>-->
  <!--</div>-->
  <!--<div class="col-sm-3" style="text-align: center;">-->
  <!--<app-pelicula-resumen></app-pelicula-resumen>-->
  <!--</div>-->
  <!--<div class="col-sm-3" style="text-align: center;">-->
  <!--<app-pelicula-resumen></app-pelicula-resumen>-->
  <!--</div>-->
  <!--<div class="col-sm-3" style="text-align: center;">-->
  <!--<app-pelicula-resumen></app-pelicula-resumen>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <div class="col-sm-2">
  </div>
</div>

<div class="row">
  <br>
  <br>
</div>

<div class="row">

  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3" style= "text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row" style="text-align: center">
  <div class="col-sm-12" >
    <br><br>
    <button type="button" class="btn btn-light">Cargar más</button>
    <br><br><br>
  </div>
</div>

<div class="row">
  <br>
  <br>
</div>

<router-outlet *ngIf="visible"></router-outlet>
