<div class="row">
  <br>
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <app-actor-detalle></app-actor-detalle>
  </div>

  <div class="col-sm-2">
  </div>

</div>

<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3" style= "text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row">
  <br>
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3" style= "text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
      <div class="col-sm-3" style="text-align: center;">
        <app-pelicula-resumen></app-pelicula-resumen>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row" style="text-align: center">
  <div class="col-sm-12" >
    <br><br>
    <button type="button" class="btn btn-light">Cargar más</button>
    <br><br><br>
  </div>
</div>

<div class="row">
  <br>
  <br>
</div>

<router-outlet></router-outlet>
