
<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <app-pelicula-detalle></app-pelicula-detalle>
    <div class="col-sm-12" >
      <br>
      <button type="button" class="btn btn-light">Añadir al carrito</button>
      <br><br>
    </div>
  </div>

  <div class="col-sm-2">
  </div>

</div>

<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <app-pelicula-no-disponible></app-pelicula-no-disponible>
  </div>

  <div class="col-sm-2">
  </div>

</div>



