<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <app-tienda-factura></app-tienda-factura>
    <br>
    <br>
    <br>
    <!--<span class="border border-dark">-->
    <div class="row border"  *ngFor="let info of mensaje;">
      <div class="col-sm-10" style="text-align: left;">
        <app-pelicula-detalle [pelicula]="info" ></app-pelicula-detalle>
      </div>
      <div class="col-sm-2" style="padding-top: 40px; text-align: center" >
        <br>
        <button type="button" class="btn btn-light" (click)="eliminarPelicula(info.id)">Eliminar</button>
        <br><br>
      </div>
    </div>
    <br>
    <div class="total-factura" style="text-align: right">
      Total: ${{calcularTotal()}}.00
    </div>
    <br>
  </div>

  <div class="col-sm-2">
  </div>

</div>

