<div class="actor-detalle">
  <div class="row">
    <div class="col-sm-6" style=" margin-top: 20px; width: 100%">
      <div class="row">
        <div class="col-sm-6" style=" margin-top: 20px; width: 100%">
          <!--<h5 class="nombre-actor">{{actor[0].nombre}}</h5>-->
          <h5 style="font-weight: bold;">Nombres:</h5>
          {{actores[0].nombre}}
        </div>
        <div class="col-sm-6" style=" margin-top: 20px; width: 100%">
          <!--<h5 class="nombre-actor">{{actor[0].apellido}}</h5>-->
          <h5 style="font-weight: bold;">Apellidos:</h5>
          {{actores[0].apellido}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" style=" margin-top: 20px; width: 100%">
          <!--<h5 class="nombre-actor">{{actor[0].fechaNacimiento}}</h5>-->
          <h5 style="font-weight: bold;">Fecha de nacimiento:</h5>
          {{actores[0].fechaNacimiento}}
        </div>
        <div class="col-sm-6" style=" margin-top: 20px; width: 100%">
          <!--<h5 class="nombre-actor">{{actor[0].numeroPeliculas}}</h5>-->
          <h5 style="font-weight: bold;">Numero de Peliculas:</h5>
          {{actores[0].numeroPeliculas}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" style=" margin-top: 20px; width: 100%">
          <!--<h5 class="nombre-actor">{{actor[0].retirado}}</h5>-->
          <h5 style="font-weight: bold;">Retirado:</h5>
          {{actores[0].retirado}}
        </div>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5" style="margin-top: 20px; width: 100%">
      <img class="d-block w-100" src="https://martamoralescastillo.files.wordpress.com/2015/01/consejos-para-escoger-tu-foto-de-perfil-en-linkedin-redes-sociales-marca-personal-branding-marta-morales-blog-curiosidades-social-media.png?w=350&h=200&crop=1" alt="First slide">
    </div>
  </div>
</div>
